{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block title %}
Register seller
{% endblock %}

{% block content %}
  <h2 class="display-4 text-center my-5 pt-5">Register seller</h2>
  <div class="container">
    <form method="post" class="form-group ">
      {% csrf_token %}
      <div class="form-group">
          {{ form.errors }}
      </div>



        <div class="form-row">
          <div class="form-group col-md-6 mb-0">
            {{ form.username|as_crispy_field }}
          </div>
          <div class="form-group col-md-6 mb-0">
            {{ form.type_of_seller|as_crispy_field }}
          </div>
        </div>

        <div class="form-row">
          <div class="form-group col-md-6 mb-0">
            {{ form.first_name|as_crispy_field }}
          </div>
          <div class="form-group col-md-6 mb-0">
            {{ form.last_name|as_crispy_field }}
          </div>
        </div>

        <div class="form-row">
          <div class="form-group col-md-6 mb-0">
            {{ form.email|as_crispy_field }}
          </div>
          <div class="form-group col-md-6 mb-0">
            {{ form.telephone|as_crispy_field }}
          </div>
        </div>

        <div class="form-row">
          <div class="form-group col-md-6 mb-0">
            {{ form.password1|as_crispy_field }}
          </div>
          <div class="form-group col-md-6 mb-0">
            {{ form.password2|as_crispy_field }}
          </div>
        </div>





      <button class="btn btn-primary mx-auto d-block" type="submit">Register</button>
    </form>
  </div>
{% endblock %}